type project
licenseExpression https://github.com/Shmew/Feliz.SweetAlert/blob/master/LICENSE
authors Cody Johnson
description
    Fable bindings written in the Feliz-style for sweetalert2
language
    F#
tags
    fsharp, fable, react, alerts, modal, sweetalert, feliz
files
    *.fsproj ==> fable
    *.fs ==> fable
